site_name: HardenedCloud
site_url: https://docs.hardenedcloud.org

theme:
  name: material
  language: en
  palette:
    - scheme: slate
      primary: black
      accent: cyan
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - search.highlight
    - search.share
    - content.code.copy

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight

nav:
  - Home: index.md
